/*Big User Popout*/
.root-3QyAh1 {
  width: 900px;
  min-height: 400px;
}
.root-1gCeng:not(.modal-qgFCbT) {
  background: var(--user-popout);
}
/*Custom Status*/
.customStatusActivity-nmH3DF {
  grid-area: status;
  padding: 20px 0 0 0;
  text-align: center;
}
/*Name + Tag*/
.topSection-y3p-_D .nameTag-ECvD8P {
  grid-area: username;
  margin: calc(var(--avatar-width) + 20px) 0 10px 0;
  justify-content: center;
}
/*Top Section*/
.topSection-y3p-_D {
  display: flex;
  z-index: 1;
  background-color: var(--user-popout);
}
/*Avatar*/
.avatar-AvHqJA {
  position: absolute;
  top: -180px;
  left: 50%;
  margin-left: calc((var(--avatar-width) / 2) - var(--avatar-width));
  border: none;
  background: none;
  width: var(--avatar-width) !important;
  height: var(--avatar-width) !important;
}
/*Avatar Header*/
.topSection-y3p-_D > header {
  display: grid;
  grid-template-areas:
      "username"
      "header"
      "status";
  width: 200px;
  background: var(--back-color-boxes);
  margin: 100px 20px 20px 20px;
  padding: 15px;
  border-radius: 5px;
}
.header-4zuFdR {
  grid-area: header;
}
.headerTop-547GTz {
  padding: 0;
  flex-direction: column;
}
/*Badge List*/
.badgeList-1R1WgZ {
  justify-content: center;
  margin-bottom: 15px;
  padding-right: 0;
}
.badgeList-1R1WgZ > div {
  margin: 6px;
}
/*Infos/Server/Friends*/
.tabBarContainer-37hZsr:not(.flex-1xMQg5) {
  flex: 1;
  border-bottom: none;
  padding-left: 0;
  margin-top: 160px;
}
.tabBarContainer-37hZsr:not(.flex-1xMQg5) > .tabBar-3nvOPa {
  justify-content: center;
}
.headerInfo-1Y1Vge,
.tabBarItem-3dfX8P,
.activity-2M3PRB {
  z-index: 1;
  position: relative;
}
.body-r6_QPy {
  position: absolute;
  top: 215px;
  bottom: 0;
  right: 10px;
  z-index: 1;
  width: 630px;
  height: unset;
  background-color: var(--user-popout);
}

/*Infos/Server/Friends Icons*/
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
 .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
  border-top: 2px solid var(--interactive-active);
}
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="USER_INFO-tab"],
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="MUTUAL_GUILDS-tab"],
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="MUTUAL_FRIENDS-tab"],
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="ACTIVITY-tab"] {
  text-indent: 100%;
  overflow: hidden;
  margin: 0 30px;
  width: 30px;
  border-top: 2px solid transparent;
  border-bottom: none;
}
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="USER_INFO-tab"]:after, 
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="MUTUAL_GUILDS-tab"]:after, 
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="MUTUAL_FRIENDS-tab"]:after, 
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="ACTIVITY-tab"]:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.tabBarItem-3dfX8P[aria-controls="USER_INFO-tab"]:after {
  background-image: url('https://i.imgur.com/EHznYpj.png');
}
.tabBarContainer-37hZsr:not(.flex-1xMQg5) [aria-controls="ACTIVITY-tab"]:after {
  background-image: url('https://i.imgur.com/qYgJexO.png');
}
.tabBarItem-3dfX8P[aria-controls="MUTUAL_GUILDS-tab"]:after {
  background-image: url('https://i.imgur.com/xAITOsQ.png');
}
.tabBarItem-3dfX8P[aria-controls="MUTUAL_FRIENDS-tab"]:after {
  background-image: url('https://i.imgur.com/EEUYRdt.png');
}
/*Banner*/
.topSection-y3p-_D .banner-2QYc2d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 160px;
}
/*Connections*/
.connectedAccount-2Jb-Z0 {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 265px;
  transition: 0.1s;
}
.connectedAccount-2Jb-Z0:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  transition: 0.1s;
  margin-bottom: 2px;
}

.connectedAccountIcon-3_EQqg {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountNameInner-2q3MVf {
  margin-left: 13px;
}
[src="/assets/4662875160dc4c56954003ebda995414.png"] {
  background-color: #1da0f248;
}
[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] {
  background-color: #601bd852;
}
[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] {
  background-color: #d9252b49;
}
[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] {
  background-color: #0098e446;
}
[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] {
  background-color: #00000034;
}
[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] {
  background-color: #fe44013d;
}
[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] {
  background-color: #2e328485;
}
[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] {
  background-color: #1ed75f34;
}
[src="/assets/0d44ba28e39303de3832db580a252456.png"] {
  background-color: #5dc21e42;
}
[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] {
  background-color: #cea14638;
}
[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] {
  background-color: #24292e62;
}
/*Playing*/
.activityProfile-2bJRaP {
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: var(--back-color-boxes);
  border-bottom: 4px solid rgb(var(--border-color-blue));
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 15px;
  box-shadow: none;
  top: 10px;
}
.activityProfile-2bJRaP {
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: var(--back-color-boxes);
  border-bottom: 4px solid rgb(var(--border-color-blue));
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 15px;
  box-shadow: none;
  top: 10px;
}
.buttonsWrapper-2spIeK {
  background-color: rgb(var(--back-user-buttons)) !important;
}
.button-2IFFQ4 {
  background-color: var(--back-user-buttons);
  border-color: rgb(var(--border-color), var(--border-opacity)) !important;
  transition: 0.15s;
}
.button-2IFFQ4:hover { 
  background-color: hsla(0,0%,100%,.1);
}
.button-2IFFQ4:active {
  transform: scale(0.9);
}
