/*Big User Popout*/
.root-3QyAh1 {
  width: 900px;
  min-height: 400px;
}
.root-1gCeng:not(.modal-qgFCbT) {
  background: var(--user-popout);
}
.layer-2KE1M9 {
  padding: 0;
}
.topSection-y3p-_D {
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.body-r6_QPy {
  background-color: var(--user-popout);
  max-height: 700px;
  height: unset;
}
/*Status and About Me*/
.userInfoSection-q_35fn {
  padding-top: 40px;
}
.customStatusActivity-nmH3DF {
  position: absolute;
  padding-top: 5px;
  padding-left: 20px;
}
/*Profile Banner*/
.profileBannerPremium-35utuo,
.profileBanner-33-uE1 {
  width: auto;
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.UserBackgrounds-banner-container {
  background-color: black;
  height: unset;
  max-height: 700px;
}
/*info/activity/server/friends*/
.topSection-y3p-_D .tabBarContainer-37hZsr {
  padding-left: 300px;
  margin-top: -55px;
  border: none;
}
.listScroller-3GmIYj {
  margin-top: 25px;
  height: unset;
  max-height: 700px;
}
/*Avatar*/
.focusLock-Ns3yie .avatar-AvHqJA {
  margin-top: 7px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}
#app-mount .focusLock-Ns3yie .root-1gCeng:not(.bd-addon-modal) .topSection-y3p-_D .wrapper-3t9DeA foreignObject {
  border-radius: var(--rs-avatar-shape);
  width: var(--avatar-width-2);
  height: var(--avatar-width-2);
  y: -9px;
  x: -2px;
}
#app-mount .focusLock-Ns3yie .root-1gCeng:not(.bd-addon-modal) .topSection-y3p-_D .wrapper-3t9DeA svg {
  border: 8px solid var(--background-floating);
  border-radius: var(--rs-avatar-shape);
  width: var(--avatar-width);
  height: var(--avatar-width);
  margin-top: var(--avatar-margin-1);
  margin-left: var(--avatar-margin-1);
  transform: rotate(-45deg);
}
/*Connections*/
.connectedAccount-2Jb-Z0 {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 400px;
  transition: 0.1s;
}
.connectedAccount-2Jb-Z0:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  transition: 0.1s;
}
.connectedAccountIcon-3_EQqg {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountNameInner-2q3MVf {
  margin-left: 13px;
}
[src="/assets/4662875160dc4c56954003ebda995414.png"] {
  background-color: #1da0f248;
}
[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] {
  background-color: #601bd852;
}
[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] {
  background-color: #d9252b49;
}
[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] {
  background-color: #0098e446;
}
[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] {
  background-color: #00000034;
}
[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] {
  background-color: #fe44013d;
}
[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] {
  background-color: #2e328485;
}
[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] {
  background-color: #1ed75f34;
}
[src="/assets/0d44ba28e39303de3832db580a252456.png"] {
  background-color: #5dc21e42;
}
[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] {
  background-color: #cea14638;
}
[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] {
  background-color: #24292e62;
}
/*Playing*/
.activityProfile-2bJRaP {
  margin: 0px 8px 15px 15px;
  padding: 10px;
  background: var(--back-color-boxes);
  border-bottom: 4px solid rgb(var(--border-color-blue));
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 15px;
  box-shadow: none;
  top: 10px;
}
.activityProfile-2bJRaP {
  margin: 15px 8px 15px 8px;
  padding: 10px;
  background: var(--back-color-boxes);
  border-bottom: 4px solid rgb(var(--border-color-blue));
  border-top: 4px solid rgb(var(--spotify-color), var(--border-opacity));
  border-left: 4px solid rgb(var(--playing-color));
  border-right: 4px solid rgb(var(--streaming-color));
  border-radius: 15px;
  box-shadow: none;
  top: 10px;
}
.buttonsWrapper-2spIeK {
  background-color: rgb(var(--back-user-buttons)) !important;
}
.button-2IFFQ4 {
  background-color: var(--back-user-buttons);
  border-color: rgb(var(--border-color), var(--border-opacity)) !important;
  transition: 0.15s;
}
.button-2IFFQ4:hover { 
  background-color: hsla(0,0%,100%,.1);
}
.button-2IFFQ4:active {
  transform: scale(0.9);
}
