/*Green buttons */
.lookFilled-1Gx00P.colorGreen-29iAKY {
    border-radius: 0px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--green-2) !important;
}
/*Red buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: rgb(255, 255, 255);
  background-color: var(--red) !important;
  border-radius: 0px;
  clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
  --cp-size: 6px;
}
