/*Popouts */
.header-2-Imhb {
  background-color: var(--popout-header);
}
.messagesPopout-24nkyi {
  background-color: var(--popout-scroller);
}
.container-1CE3eW {
  background-color: var(--create-server);
}
/*Emoji & Gif */
.nav-7UD0KD {
  background-color: var(--back-header-gifemoji);
  height: 24px;
  border-radius: 10px;
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
}
.wrapper-2Gsate {
  background-color: var(--back-side-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-top: 2px;
}
.header-2k4I2o,
.header-1TOWci,
.header-8ilj5e {
  background-color: var(--back-search-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-bottom: 7px;
  padding: 1px 10px 5px 5px;
}
.header-2k4I2o {
  padding: 5px 10px 5px 5px !important;
}
.bd-emote-menu,
.content-ySCtCx {
  margin-left: 0px !important;
}
.bd-emote-menu,
.content-ySCtCx,
.bodyWrapper-3G0FZZ {
  background-color: var(--back-body-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
}
.inspector-S2gM3e {
  background-color: var(--back-inspector-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 8px;
  width: auto;
}
.navButtonActive-1MkytQ {
  background-color: rgba(0, 0, 0, 0.76);
  border-left: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 0px;
}
.layer-v9HyYc .contentWrapper-SvZHNd .wrapper-1rqM3x .wrapper-2Gsate {
  margin-top: 3px;
}
.layer-v9HyYc .wrapper-1rqM3x .wrapper-2Gsate {
  margin-top: -7px;
}
.listWrapper-hig339 .scroller-3gAZLs {
  background-color: var(--back-body-gifemoji);
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: 10px;
  margin-left: 8px;
}
.searchBar-5di9mG {
  margin-top: 5px;
}
/*Changelog */
.focusLock-Ns3yie .scrollerBase-289Jih {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .root-1gCeng .content-1LAB8Z {
  background-color: black;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .header-1TKi98 {
  border-bottom: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .thin-1ybCId {
  border-radius: 0px;
}
.layerContainer-yqaFcK .layer-2KE1M9 .focusLock-Ns3yie .footer-2gL1pp {
  border-top: 0px;
  background-color: var(--user-popout);
}
/*Create Server */
.container-1CE3eW .content-1LAB8Z,
.container-1CE3eW .flex-1xMQg5 {
  background: transparent !important;
}
.container-UC8Ug1 {
  background-color: var(--create-server-choices);
  border: 1px solid var(--create-server-choices-border);
}
.colorHeaderSecondary-3Sp3Ft,
.footerTitle-2CYZch,
.text-1FOLJS,
.title-3w8xhj {
  color: var(--create-server-text-color);
}
.footerButton-ayFTfX {
  background-color: var(--create-server-footer-button) !important;
}
.footerButton-ayFTfX:hover {
  background-color: var(--create-server-footer-button-hover) !important;
}
/*Upload Popout */
.footer-3mqk7D {
  background-color: var(--upload-popout-footer) !important;
}
.inner-3nWsbo {
  background-color: var(--upload-popout-top);
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
/*screen share modal*/
.modalSize-cqUaws .sourceScroller-Pk7YAM {
  background-color: transparent !important;
}
.modalSize-cqUaws .flex-1xMQg5 {
  background-color: var(--screen-share-main);
}
/*Delete message*/
.message-2qRu38 {
  background-color: var(--back-color-boxes) !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Edit Plugins*/
.theme-dark .modal-6GHvdM .tabBarContainer-1s1u-z {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Menu Popout*/
.menu-3sdvDG {
  animation: menu-open-animation 250ms ease;
  transform-origin: top;
}
@keyframes menu-open-animation {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.labelContainer-1BLJti,
.scroller-3BxosC {
    padding: 0;
}
.scroller-3BxosC {
  border: 1px solid red;
  border-radius: 5px;
  background-color: var(--scroller-color);
  padding-top: 4px;
  padding-bottom: 4px;
}
.labelContainer-1BLJti {
  min-height: 21px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: red;
}
[aria-hidden="false"].icon-LYJorE {
  color: red;
}
[aria-hidden="false"].icon-LYJorE path {
  background-color: black;
}
.check-1JyqgN {
  color: red !important;
  background-color: red !important;
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: red;
}
/*Start Stage Popout*/
.illustration-3d7_Ms {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-bottom: 0px;
  width: auto;
}
.bulletItem-2v3LOS:first-child {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.bulletItem-2v3LOS:last-child {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.bulletItem-2v3LOS:nth-child(2) {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px;
}
.bulletItem-2v3LOS:nth-child(3) {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-top: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-radius: 0px;
}
.contentContainer-3MLVEY {
  border-left: 1px solid rgb(var(--border-color), var(--border-opacity));
  border-right: 1px solid rgb(var(--border-color), var(--border-opacity));
  padding-bottom: 16px;
  background-color: black;
}
.footerContainer-3XZ7Bg {
  margin-top: 0px;
}
.hint-3J_Cto {
  text-align: center;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--back-color-boxes-hover);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--back-color-boxes);
}
/*small popup*/
.tooltipPointer-3ZfirK {
  border-top-color: rgb(var(--border-color-blue)) !important;
}
.tooltipContent-bqVLWK {
  background-color: black;
  border: 1px solid rgb(var(--border-color-blue));
  border-radius: 5px;
}
/*toasts*/
.bd-toast {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  background: black;
}
.toast {
  background: black !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
/*Search*/
.container-3ayLPN {
  background-color: black !important;
  border: 1px solid rgb(var(--border-color-blue));
}
/*Pins (personal and public)*/
[aria-label="Pinned Messages"] .messagesPopoutWrap-1MQ1bW {
  width: 700px;
  max-height: 950px !important;
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.layer-v9HyYc .popout-2iWAc- {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.layer-v9HyYc .header-ykumBX {
  background-color: var(--popout-header);
  border-bottom: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.emptyPlaceholder-1zh-Eu {
  background-color: black;
}
