@import url("https://discordstyles.github.io/RadialStatus/base.css");

:root {
  --rs-online-color: var(--online);
  --rs-idle-color: var(--idle);
  --rs-dnd-color: var(--dnd);
  --rs-invisible-color: var(var(--offline));
  --rs-offline-color: var(var(--offline));
  --rs-streaming-color: var(var(--streaming));
  --rs-mobile-color: var(var(--online));
}
