/*userbuttons in side panel*/
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 1;
  padding: 20px 0 10px 0;
  flex-direction: column;
  background: linear-gradient(transparent, var(--back-user-buttons) 15%);
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  margin: var(--user-buttons-spacing) auto 0 auto;
}
.content-3YMskv {
  height: 850px !important;
}
/*account background*/
.activityPanel-28dQGo,
.container-1giJp5,
.container-6sXIoE,
.container-3baos1{
  background: var(--back-account);
  margin-bottom: 0;
}
/*background*/
.applicationStore-1pNvnv,
.container-3Mxszk,
.layer-3QrUeG[aria-label="USER_SETTINGS"],
.pageWrapper-1PgVDX,
.content-yTz4x3,
.tabBody-3YRQ8W {
    background: var(--main-background);
    background-color: var(--back-color) !important;
}
/*playing card in friendlist*/
.wrapper-3D2qGf {
  background-color: var(--back-play-card-fr-list);
  border: 1px solid var(--border-play-card-fr-list);
}
/*search bar*/
.search-36MZv- {
  order: 1;
}
.search-2oPWTC:hover {
  background-color: var(--back-color-search-bar);
  border-radius: 5px;
}
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.25s;
  background-color: var(--background-tertiary);
}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN {
  transform: scale(1.2);
  transition: 0.25s;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN {
  transform: scale(1);
  transition: 0.25s;
}
/*member list*/
.membersWrap-2h-GB4:not(#dv-mount),.membersWrap-2h-GB4:not(#dv-mount) > div{
	min-width:60px!important;
	max-width:240px!important;
	width:60px;
  transition: width .5s;
}
.membersWrap-2h-GB4:hover:not(#dv-mount),.membersWrap-2h-GB4:hover:not(#dv-mount) > div{
	width:240px;
	transition: width .6s;
}
