/*userbuttons in side panel*/
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 1;
  padding: 20px 0 10px 0;
  flex-direction: column;
  background: linear-gradient(transparent, var(--back-user-buttons) 15%);
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  margin: var(--user-buttons-spacing) auto 0 auto;
}
.content-3YMskv {
  height: 850px !important;
}
/*account background*/
.activityPanel-28dQGo,
.container-1giJp5,
.container-6sXIoE,
.container-3baos1{
  background: var(--back-account);
  margin-bottom: 0;
}
/*background*/
.applicationStore-1pNvnv,
.container-3Mxszk,
.layer-3QrUeG[aria-label="USER_SETTINGS"],
.pageWrapper-1PgVDX,
.content-yTz4x3,
.tabBody-3YRQ8W {
    background: var(--main-background);
    background-color: var(--back-color) !important;
}
/*background selected DM*/
.selected-3LIHYU,
a.selected-aXhQR6 {
  background: var(--back-selected-dm-pic);
  background-color: var(--back-selected-dm-color);
  background-size: cover;
  background-position: var(--back-pos-dm);
}
/*playing card in friendlist*/
.wrapper-3D2qGf {
  background-color: var(--back-color-boxes);
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
}
.wrapper-3D2qGf:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
/*search bar*/
.search-36MZv- {
  order: 1;
}
.search-2oPWTC:hover {
  background-color: var(--back-color-search-bar);
  border-radius: 5px;
}
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
  width: 240px;
  transition: 0.25s;
  background-color: var(--background-tertiary);
}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN {
  transform: scale(1.2);
  transition: 0.25s;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN {
  transform: scale(1);
  transition: 0.25s;
}
/*member list*/
.membersWrap-2h-GB4:not(#dv-mount),.membersWrap-2h-GB4:not(#dv-mount) > div{
	min-width:60px!important;
	max-width:240px!important;
	width:60px;
  transition: width .5s;
}
.membersWrap-2h-GB4:hover:not(#dv-mount),.membersWrap-2h-GB4:hover:not(#dv-mount) > div{
	width:240px;
	transition: width .6s;
}
/*Title Bar*/
.wordmark-2iDDfm svg {
  color: var(--title-bar-content-color);
}
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
  content: var(--title-bar-content);
  position: absolute;
  top: 5px;
  left: 66px;
  color: var(--title-bar-content-color);
  display: block;
  height: 16px;
  width: fit-content;
  pointer-events: none;
  font-size: 14px;
  font-weight: bold;
}
.titleBar-AC4pGV .winButtonClose-1HsbF- {
  color: red;
}
.titleBar-AC4pGV .winButtonClose-1HsbF-:hover {
  background-color: red;
  color: blue;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"],
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]{
  color: blue;
}
/* Friend list */
[aria-label^="Laurina0602"] .overflow-WK9Ogt,
[aria-label^="kittyloe92_97"] .overflow-WK9Ogt,
[aria-label^="tikagirl"] .overflow-WK9Ogt,
[aria-label^="LLLeider"] .overflow-WK9Ogt,
[aria-label^="birdgirl"] .overflow-WK9Ogt,
[aria-label^="Mouson"] .overflow-WK9Ogt,
[aria-label^="lolpowerluke"] .overflow-WK9Ogt { 
  animation: flow 10s ease-in-out infinite;
  background: linear-gradient(-60deg, #391ae9 40%, #ffffff 80%, #391ae9 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes flow {
  0% { background-position: 0 50%;}
  50% { background-position: 300% 50%;}
  100% { background-position: 0 50%;}
}
/*crash screen*/
.image-3zK3Wt {
  background-image: var(--crash-screen-image) !important;
}
.flexWrapper-2EgxO2 .lookFilled-1Gx00P .contents-18-Yxp::after {
  content: " Last Respawn Point";
}
.note-450gs3 div {
  visibility: hidden;
  height: 0px;
}
.note-450gs3 {
  margin-top: -50px;
}
.title-3trS3_ {
  display: none;
}
.note-450gs3::before {
  content: "Your discord got obliberated by one of your plugins";
  margin-bottom: 10px;
}
.note-450gs3::after {
  content: "Press crtl + shift + i to track down which plugin caused this";
  margin-top: 10px;
}
/*Server Wrapper*/
.guilds-1SWlCJ {
  height: 880px;
}
/*message hover color*/
.mouse-mode .message-2qnXI6:hover,
.mouse-mode .scrollerContent-WzeG7R .message-2qnXI6:hover {
  background-color: var(--message-hover);
}
/*Typing Status*/
#app-mount .chat-3bRxxu form .typing-2GQL18 {
  background-color: var(--channeltextarea-background);
  bottom: 100%;
  padding-left: 10px;
  z-index: 0;
  overflow: hidden;
  animation: opacity 300ms ease;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  -ms-transform: scale(1);
  transform: scale(1);
  width: fit-content;
  display: -webkit-box;
  padding-right: 20px;
  padding-top: 0px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, .1);
  opacity: 1;
  transition: all 200ms ease;
  text-overflow: ellipsis;
  z-index: 5;
  border-bottom: 1px solid var(--typing-border);
}
/*Stage Pannels*/
.container-S9SaVf:hover {
  background-color: var(--back-color-boxes-hover) !important;
}
.container-S9SaVf {
  border: 1px solid rgb(var(--border-color), var(--border-opacity));
  background-color: var(--back-color-boxes) !important;
}
